@model IEnumerable<ControleDeEstoqueDeCalcados.Models.Sapato>

@{
    ViewData["Title"] = "Registros de Sapatos";
}

<h1>Registro de Sapatos</h1>

<p>
    
    <a asp-controller="Sapato" asp-action="Criar" class="btn btn-success" role="button">Criar novo registro</a>
</p>

<table class="table" id="table-sapatos">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CodBarras)</th>
            <th>@Html.DisplayNameFor(model => model.Cor)</th>
            <th>@Html.DisplayNameFor(model => model.Preco)</th>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>Última Mudança</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){

            <tr>
                <td>@Html.DisplayFor(Model => item.CodBarras)</td>
                <td>@Html.DisplayFor(Model => item.Cor)</td>
                <td>@Html.DisplayFor(Model => item.Preco)</td>
                <td>@Html.DisplayFor(Model => item.Tipo)</td>
                <td>@Html.DisplayFor(Model => item.DataAtualizacao)</td>
                <td>
                <a asp-action="Editar" asp-route-id="@item.Id"  class="btn btn-primary">Editar</a>
                <a asp-action="Deletar" asp-route-id="@item.Id"  class="btn btn-warning">Baixar do Estoque</a>
            </td>
            </tr>
            
        }

    </tbody>
</table>